.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 60px;
    hight: 50px;
    margin-right: 20px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.footer {
    margin: 25px 0px 0px 25px;
}

.chat {
    border: solid black 2px;
    width: 50%;
    height: 500px;
    overflow-y: auto;
}